* {
	font-family: 'Dekko';
	color: white;
	background-image: url('portfolio.jpg');
}/*

#box {
	height: 100vh;
	width: 100wh;
}
*/
h1 {
	font-size: 100px;
	font-family: 'Risque';
	font-color: black;
}
h6 {
	float: right;
	font-size: 50px;
}
li a {
	font-size: 20px;
	text-decoration: none;
}

img {
	height: 300px;
	width: auto;
}