* {
	font-family: 'Dekko';
	color: white;
}

body {
	background-image: 'portfolio.jpg';
}

h1 {
	font-size: 100px;
	font-family: 'Risque';
	font-color: black;
}
h6 {
	float: right;
	font-size: 60px;
}
li a {
	font-size: 20px;
}

a {
	text-decoration: none;
	color: black;
}

img {
	height: 300px;
	width: auto;
}